* {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway";
}


.header {
    width: 100%;
    margin-top: 92px;
    margin-bottom: 92px;
    min-height: 109px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 51px;
    padding-right: 49px;
    align-items: center;
}


.logo {
    width: 148px;
    height: 105px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.header__menu ul {
    font-weight: normal;
    display: flex;
    gap: 32px;
}

.header__menu ul li:first-child a {
    text-decoration: none;
}

.header__menu ul li {
    list-style: circle;
}


.header__menu a {
    color: black;
    font-size: 18px;
    line-height: 21px;
    text-underline-offset: 10px;
    max-width: 100px;

}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    color: black;
    max-width: 240px;
    justify-items: end;
}

.header .address {
    margin-left:auto;
}

.address a {
    text-underline-offset: 5px;
}

.cover__title h1 {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;

}

.cover__title {
    font-family: sans-serif;
    font-weight: normal;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    filter: grayscale(50%);
    background-repeat: no-repeat;
    min-height: 757px;
    padding: 165px 50px 50px;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}


.cover__title::after {
    content: '';
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}



.cover__title span:last-of-type {
    display: flex;
    justify-content: flex-end;

}


.cover__title span:nth-child(even) {
    display: flex;
    justify-content: center;
    padding: 300 110 357 50px;

}

.cover__title h1 a {
    display: flex;
    justify-content: center;
}

.cover__title h1 a:first-child {
    justify-content: start;

}

.cover__title h1 a:last-child {
    justify-content: end;
}

.letter-spacing-extended {
    letter-spacing: 50px;
}

.no-letter-spacing {
    letter-spacing: 30px;
}


.cover__description {
    display: flex;
    align-items: center;
    gap: 78px;
    justify-content: flex-end;
}

.cover__description-text {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    word-spacing: 20px;
    display: flex;
    justify-content: center;
    line-height: 28px;

}

.bet-button {
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    font-size: 22px;
    line-height: 26px;
    width: 257px;
    height: 52px;
    background: transparent;
    border: 1px solid white;

}

.lots {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 579px;
    margin-top: 180px;
}

.lots__heading {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 27px;
    margin-left: 90px;
    text-transform: uppercase;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 0px 50px;
}

.card_type {
    position: relative;
    display: flex;
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 40px;
    justify-content: space-between;
    flex-direction: column;


}

.card_type::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);

}

.film {
    background-size: cover;
    background-image: url(../images/card-lot-01.jpg);
}


.book {
    background-size: cover;
    background-image: url(../images/card-lot-02.jpg);

}

.picture {
    background-size: cover;
    background-image: url(../images/card-lot-03.jpg);

}


.card__title {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 26px;
    position: relative;
    z-index: 10;
    font-size: 22px;
    width: 350px;
}


.card__text {
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    color: white;
    display: flex;
    line-height: 24px;
    z-index: 10;


}

.images__link {
    font-size: 20px;
    text-underline-offset: 5px;
    line-height: 23px;
    padding: 30px 90px;
}

.about {
    width: 100%;
    display: flex;
    margin: 180px 0px;
    gap: 120px;
    padding: 0px 50px;
}

.about__logo-image {
    width: 240px;
    height: 240px;
    margin-left: 95px;
}

.about__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    margin: 100px 0px;
}

.about__text {
    width: 100%;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    max-width: 885px;
}

.footer {
    width:100%;
    min-height: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 92px;
    padding: 0px 50px;
}

.footer .address {
    margin-right:auto;
    margin-left: 0;
} 

.footer__menu ul {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.footer__social-list {
    gap: 48px;
    display: flex;
    list-style: none;
    margin-left:auto;
    flex-direction: row;
}

.footer__menu-list-item {
    width: 48px;
    height: 48px;
}

